
@charset "UTF-8";
@font-face {
    font-family: Idroid;
    src: url(fontes/idroid.otf) format(opentype);
}
body{
    background-color: aquamarine;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    width: 80%; 
    margin: 10px auto 0 auto; 
    padding: 15px; 
    border-radius: 5px; 
    text-align: justify;
    line-height: 1.6; 
}
ul li{
    text-align: left;
}
a{
    text-decoration: none;
    color:rgb(245, 237, 237);
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
p>a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
img{
    margin-top: 50px;
}
nav{
    background-color: green;
    margin-top: 0;
}
main{
    margin-left: 20%;
    margin-right: 20% ;
    background-color: white;
    box-shadow: 2px 2px 7px 2px gray;
}
.alinha{
    margin-top: 10px 0;
    text-align: center;
}

.estilo{
    margin:0px;
    text-align: center;
    font-family: Idroid;
    background-image: linear-gradient(to right, limegreen, rgb(85, 199, 85),rgb(115, 194, 115), white);
}
.cabecalho{
    padding: 10px;
    margin:0;
    margin-top: 0;
    color: rgb(7, 7, 7);
    background-color: green;
}
.materia{
    margin-top: 0;
    padding-top: 20px;
}
a:hover{
    padding: 5px;
    background-color:rgb(35, 68, 35);
    border-radius: 2px ;
    transition: all 0.3s ease;
}
h3.estilizacao{
    margin: 0;
    padding: 20px;
    color: white;
    background-color: rgb(76, 180, 76);
}
.caixaduvida{
    margin-top:20px;
    text-align: center;
    box-shadow: 3px 4px 8px gray;
    background-color: rgb(77, 207, 73);
}
footer{
    padding: 1px; 
    background-color: rgb(17, 221, 17);
    text-align: center;
}
#link-footer{
    color: rgb(0, 0, 0);
    margin-left: 0;

}
#link-footer:hover{
    color: white;
    border-radius: 3px;
}
iframe{
    box-shadow: 2px 2px 7px gray;
    margin-top: 50px;
}
ul {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    list-style: none; 
    padding: 0;
    width: 50%; 
    margin: auto;
}
@media(max-width: 700px){
    .caixaduvida>h3{
        background-color: rgb(76, 180, 76);
    }
    .caixaduvida{
        padding: 0;
        margin: 10px;
        background-color: rgb(77, 207, 73);
    }
    iframe{
        width: 90%;
        margin: 10px;
    }
    main{
        margin: 0;
    }
    
}
